/* Grund-Layout */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: urw-din, Helvetica, Arial, sans-serif;
    background: #0f172a;   
    color: #e5e7eb;
}


.screen1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    position: relative;
}
.screen1 .red-bg {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:3;
}

.screen1 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    z-index:500;
}

.screen1  .main-content {
    position:relative;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
}
.screen1 h1 {
    font-size:10rem;
    margin-left:5rem;
    margin-top:6rem;
    font-weight:600;
}
.screen1 h2 {
    font-size:4.25rem;
    margin-left:4rem;
    margin-top:0rem;
    font-weight:600;
    font-style: italic;
}
.screen1 .pics {
    position:absolute;
    right:0;
    bottom:0;
    width:74%;
    height: 98%; 
    z-index:1;    
}
.screen1 .pics img {
  position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* zeigt das gesamte Bild */
    left: 0;
    top: 0;
    opacity: 0;
    background: #000;
    transition: opacity 2s;

}
.screen1 .pics img.active {
    opacity: 1;
}
.screen1 .logo {   
    align-items: center;
    gap: 12px;
    display:none;
}
.screen1 .logo img {
    height:10rem
}
#current-time {
    z-index:10;
    font-size:2.5rem;
    color: #fff;
    margin-left:5rem;
    padding-bottom: 4rem;

}
